.git-graph-commit-list {
    overflow-y: auto;
    flex: 1;
    display: flex;
    position: relative;
}

.git-graph-svg-container {
    flex-shrink: 0;
    position: relative;
}

.git-graph-row-svg {
    position: relative;
    overflow: visible;
}

.git-graph-info-container {
    flex: 1;
    min-height: 100%;
}