.virtual-scroll-container {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.virtual-scroll-spacer {
    position: relative;
    width: 100%;
}

.virtual-scroll-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
}